/* Entire Page */

body {
    font-family: Cambria, Cochin, Georgia, serif;
}

a, a:visited {
    color: #8877aa;
}

a:hover {
    color: #4433aa;
}

/* Header */

header {
    height: 1em;
    margin-bottom: -1em;
}

header a {
    margin: 0;
    padding: 0;
}

/* Main */

main {
    min-height: 85vh;
    padding: 0 3vw;
    max-width: 50em;
    margin: auto;
}

h1, h2 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 75vh;
    border: 1px solid #ddddcc;
    border-radius: 3px;
}

li {
    margin-bottom: 0.6em;
}

.featured {
    background:  #f8f0ee;
    font-size: 125%;
    max-width: 25em;
    margin: auto;
    padding: 1em 2em;
    border: 1px solid #ddddcc;
    border-radius: 3px;
}

/* Footer */

footer p {
    opacity: 50%;
    font-size: 10pt;
    text-align: center;
    padding-top: 1em;
}