/* Entire Page */

:root {
    --background-color: #ffffff;
    --text-normal-color: #302420;
    --text-strong-color: #281008;
    --link-color: #8877aa;
    --link-hover-color: #4433aa;
    --subtle-line-color: #ddd8d0;
    --subtle-background-color: #fbf8f4;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000000;
        --text-normal-color: #b8b4b0;
        --text-strong-color: #eeddcc;
        --link-color: #8877bb;
        --link-hover-color: #aa99ff;
        --subtle-line-color: #302420;
        --subtle-background-color: #181008;
    }

    img {
        opacity: 75%;
    }
}

body {
    font-family: Cambria, Cochin, Georgia, serif;
    color: var(--text-normal-color);
    background-color: var(--background-color);
}

a, a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

/* Header */

header {
    height: 1em;
    margin-bottom: -1em;
}

header a {
    margin: 0;
    padding: 0;
}

/* Main */

main {
    min-height: 85vh;
    padding: 0 3vw;
    max-width: 50em;
    margin: auto;
}

h1, h2 {
    text-align: center;
    color: var(--text-strong-color)
}

img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 75vh;
    border: 1px solid var(--subtle-line-color);
    border-radius: 3px;
}

li {
    margin-bottom: 0.6em;
}

.featured {
    background: var(--subtle-background-color);
    font-size: 125%;
    max-width: 25em;
    margin: auto;
    padding: 1em 2em;
    border: 1px solid var(--subtle-line-color);
    border-radius: 3px;
}

/* Footer */

footer p {
    opacity: 50%;
    font-size: 10pt;
    text-align: center;
    padding-top: 1em;
}